:root{  

    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
}

body{
    background-color: #b3f5ed;
    font-family: Inter;
    min-height: 100vh;
}


.Pagina p {
    text-align: center;
    width: 300px;
    background-color: #34cdc5; 
    color:var(--White); 
    font-size:18px; 
    border: var(--Grey-800) 1px;
    border-radius: 7px;
    padding: 10px;
}
.Pagina a{
    text-decoration: none;
}

.Pagina p:hover{
    background-color: #f1fcfb;
    color: var(--Grey-800);
    font-size:18px; 
    padding: 10px;
}
.pMenu{
    grid-column: span 3 / span 3;
    border-bottom: solid 1px;
    padding: 10px;
    text-align: center;
}
.pMenu img{
    width: 260px;
    margin-bottom: 0px;
}
.pMenu h3{
    margin-top: 0px;
}
.pagHead{
    grid-column: span 3 / span 3;
    grid-row-start: 2;   
    border-bottom: solid 1px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.bto-1, .bto-2, .bto-3{
    grid-row-start: 3;
    border-bottom-style: dashed;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.bto-4, .bto-5, .bto-6{
    grid-row-start: 4;
    border-bottom-style: dashed;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.bto-7, .bto-8, .bto-9{
    grid-row-start: 5;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-bottom-style: dashed;
}

.bto-10, .bto-11, .bto-12{
    grid-row-start: 6;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.pagiFooter{
    grid-column: span 3 / span 3;
    border-top: solid 1px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
@media (min-width: 1024px) {
    .Pagina{
        margin: 30px;
        border: solid 1px var(--Grey-700);
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(2, 1fr)) ; 
        gap: 0px;
    }
    .bto-1, .bto-2, .bto-4, .bto-5, .bto-7, .bto-8, .bto-10, .bto-11{
        border-right-style: dashed;
    }
}
@media screen and (max-width: 425px){
    .Pagina{
        margin: 10px;
        border: solid 1px var(--Grey-700);
        border-radius: 5px;
    }
    .bto-10, .bto-11{
        border-bottom-style: dashed;
    }
}

