@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

:root{
    --VBlue: hsl(217, 19%, 35%);
    --DBlue: hsl(214, 17%, 51%);
    --GBlue: hsl(212, 23%, 69%);
    --LiBlue: hsl(210, 46%, 95%);
   /*  Weights: 500, 700 */
}
body{
    background-color: var(--LiBlue);
}

@media screen and (min-width: 1024px){
    .imgdrw{
        clip-path: inset(0 19% 0 0); 
        border-radius: 10px 0px 0px 10px;
        width: 335px; 
    }
    .head-1{
        border-radius: 10px 0px 0px 10px;
    }

    .card{
        margin-left: 24%;
        margin-top: 13%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 2fr)) ; 
        gap: 0;
    }
    .sect-1{
        width: 320px;
        height: 253px;
        border-radius: 0px 10px 10px 0px;
        padding: 16px 44px 0px 44px;
    }
    .share-menu:after {
        content: "";
        position: absolute;
       top: 85%;
       left: 90px;
       border-top: 20px solid var(--VBlue);
       border-left: 20px solid transparent;
       border-right: 20px solid transparent;
    }
    .share-menu{
        top: -60px;
        left: 50%;
        width: 200px;
        border-radius: 8px;   
        visibility: hidden;
        position: absolute;
        z-index: 5
    }
    .share-container p{
        margin-left: 15px;
    }
    .imgshare{
        margin-top: 20px;
    }
    .imgicon{
        margin-top: 8px;
    }


    .share-menu img{
        margin:0 4px;
        margin-top: 10px;
        
    }
    .share-container{
        margin-left: 15px;
    }
}


@media screen and (max-width: 425px){
    .imgdrw{
        clip-path: inset(0 0 17% 0); 
        border-radius: 10px 10px 0px 0px;
        width: 325px; 
    }
    .head-1{
        border-radius: 10px 10px 0px 0px;
    }
    .card{
        margin-left: 5%;
        margin-top: 5%;
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(215px, 2fr)) ; 
        gap: 0;
        height: 20px;
        width: 70px;
    }
    .sect-1{
        border-radius: 0px 0px 10px 10px;
        padding: 25px 25px 6px 25px;
    }
    .share-menu{
        border-radius: 0px 0px 10px 10px;
        width: 316px;
        height: 58px;
        top: 10px;
        left: -47%;
        display: flex;
        align-items: center;
        visibility: hidden;
    }
    .icon{
        margin-top: 7px;
    }
    .imgshare{
        margin-top: 24px;
        z-index: 10;
        position: relative;
        
    }
    .imgicon{
        margin-top: 10px;
    }
    .share-menu img{
        margin:0 9px;
    }
    .share-container p{
        margin-right: 6px;
        margin-left: 20px;
    }
    

}


.imgshare.active {
    background-color: var(--DBlue); 
}

.imgshare img.filtered {
    filter: grayscale(1) brightness(2);
}


.card{
    border-radius: 10px;
}


.imgdrw{
    height: auto;
    float: left;  
}


.head-1{
    float: left;
}
.sect-1{
    background-color: white;
    
    margin: 0;
   
}
.sect-1 h1{
    font-family: Manrope;
    font-size: 18px;
    font-weight: 700;
    color: var(--VBlue);
    line-height: 1.4;
}
.sect-1 p{
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    color: var(--DBlue);
    line-height: 1.4;
}
.icon h3{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    color: var(--VBlue);
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.icon p{
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    color: var(--DBlue);
    margin-top: 2px;
    padding-top: 2px; 
}

.imgicon{
    float:left;
    
    border-radius: 30px;
    width: 50px;
    margin-right: 20px;
}
.icon{
    float: left;
}

.imgshare{
    
    float: right;
    border-radius: 25px;
    background-color: var(--LiBlue);
    border: 1px solid var(--LiBlue);
    padding: 8px;
}


.share-container p{
    color: var(--LiBlue);
    font-family: Manrope;
    font-size: 13px;
    letter-spacing: 6px;
    float: left;
    
    
    
}

.share-menu.visible {
    visibility: visible;
}

.share-menu {
    
    position: absolute;
    background: var(--VBlue);
    padding: 5px;
}


.share-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    
}


 

